<div class="wrapper-devise-form">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 padded">
        <div class="wrapper-login">
          <div class="text-center">
            <h2>Inscription</h2>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

              <% if @user.errors.any? %>
                <div id="error_explanation">
                  <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being created:</p>
                  <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true %>
                <%= f.input :password, required: true, hint: ("min. #{@minimum_password_length} caractères" if @minimum_password_length) %>
                <%= f.input :password_confirmation, required: true %>
              </div>

              <div class="terms">
                 <%= f.check_box :agreed_to_terms %> <strong> I agree to the <a href="#">Terms and conditions of service</a></strong>
              </div>

              <div class="form-actions padded-sm">
                <%= f.button :submit, "Inscription", class: "btn btn-success" %>
              </div>

            <% end %>

            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

