
<div class="wrapper-devise-form">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 padded">
        <div class="wrapper-login">
          <div class="text-center">
            <h2>Tout commence ici...</h2>

            <%= simple_form_for(resource, as: resource_name, url: user_pro_registration_path(resource_name)) do |f| %>

              <% if @user.errors.any? %>
                <div id="error_explanation">
                  <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being created:</p>
                  <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true, label: "Une adresse email" %>
                <%= f.input :password, required: true, hint: ("min. #{@minimum_password_length} caractères" if @minimum_password_length), label: "Un mot de passe" %>
                <%= f.input :password_confirmation, required: true, label: "La confirmation du mot de passe"%>
              </div>

              <div class="terms">
                 <%= f.check_box :user_terms_acceptance %> <strong> Je dis "OUI" <a href="#" data-toggle="modal" data-target="#TermsModal">aux conditions générales du service</a></strong>

 <!-- Modal TERMS AND CONDITIONS // ATTENTION!!! REPEATED ON INVITATION ACCEPTATION VIEW-->
                <div class="modal fade" id="TermsModal" tabindex="-1" role="dialog" aria-labelledby="ServiceTermsAndConditions">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">CONDITIONS GÉNÉRALES D'UTILISATION DU SERVICE</h4>
                      </div>
                      <div class="modal-body">
                          <%= render 'devise/shared/terms' %>
                      </div>
                    </div>
                  </div>
                </div>
  <!-- MODAL END               -->
              </div>

              <div class="form-actions padded-sm">
                <%= f.button :submit, value: "Je m'inscris en tant que PRO", class: "btn" %>
              </div>

            <% end %>

            <%- if devise_mapping.omniauthable? %>
              <%- resource_class.omniauth_providers.each do |provider| %>
                <%= link_to omniauth_authorize_path(resource_name, provider) do %>
                  <%= image_tag "facebook connect.png", class: "padded-bot-m", id:"fb-sign-up"%>
                  <br />
                <% end %>
              <% end %>
            <% end %>
            <%= render "devise/shared/links" %>
            <%= link_to "Je ne suis ni coach, ni prof, ni instructeur, je veux juste m'inscrire au service", new_user_registration_path %><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

