<h1>Bonjour <%= @user.first_name? ? @user.first_name : @user.email %>, </h1>

<p>
  <%= "Et bienvenue sur le service!"%>
</p>

<p>
  <%= "Asanasano blabla, voilà tout ce que cela peut faire"%>
</p>

<p>
  <%= "A très vite,"%>
</p>

<p>
  <%= "Paramétrer ici plus tard quand j'ai le temps: liens sociaux, signature"%>
</p>
