<!--
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to omniauth_authorize_path(resource_name, provider) do %>
      <%= image_tag "facebook connect.png", class: "padded-bot-m"%>
      <br />
    <% end -%>
  <% end -%>
<% end -%> -->

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to omniauth_authorize_path(resource_name, provider) do %>
    <div class="btn-facebook-connect btn-lg">
      <i class="fa fa-facebook-square" aria-hidden="true">  Continuer avec Facebook</i>
    </div>

    <% end -%>
  <% end -%>
<% end -%>

<%- if controller_name != 'sessions' %>
  <%= link_to "Déjà inscrit ? Se connecter par ici", new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Pour s'inscrire au service, c'est par ici", new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "Damned ! J'ai oublié mon mot de passe", new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to t('.didn_t_receive_confirmation_instructions'), new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to t('.didn_t_receive_unlock_instructions'), new_unlock_path(resource_name) %><br />
<% end -%>
