
<div class="course-show-header">
  <div class="row wrapper-participants-display">
    <h1 class="white-shadow-text text-center" id="group-participants-title"><%= @group.name %></h1>

    <!-- POUR TOUS-->

    <!-- Liste des participants -->
    <div class="people-list">
    <h3>Liste des participants</h3>

      <div class="row">
        <% @group.group_joined_users_only.uniq.each do |user|%>

          <div class="user-card col-xs-4 col-sm-3 text-center">
              <div>
                <%= render 'user-photo', user: user,  id: "user-card-photo", class: "avatar" %>
              </div>

              <div class="white-text">
                <%= user.first_name || user.mail_root %>
              </div>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Liste des coaches -->
    <div class="people-list">
    <h3>Liste des coaches</h3>

      <% if @group.coaches.count >0 %>
        <div class="row">
          <% @group.coaches.each do |coach|%>

            <div class="user-card col-xs-4 col-sm-3 text-center">
                <div>
                  <%= render 'user-photo', user: coach.user,  id: "user-card-photo", class: "avatar" %>
                </div>

                <div class="white-text">
                  <%= coach.first_name %>
                </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>



    <!-- Owner du groupe -->
    <div class="people-list">
    <h3>Créateur du groupe</h3>

      <div class="row">
          <div class="user-card col-xs-4 col-sm-3 text-center">
              <div>
                <%= render 'user-photo', user: @group.owner,  id: "user-card-photo", class: "avatar" %>
              </div>

              <div class="white-text">
                <%= @group.owner.first_name %>
              </div>
          </div>
      </div>
    </div>


    <!-- OWNER ONLY: Liste des invitations en cours + module d'invitations -->

    <!-- Liste des invitations en cours -->
    <% if policy(@group).edit? %>
      <div class="people-list">
          <h3>Liste des invitations en cours </h3>

            <div class="row">
              <% @group.pending_invited_users_only.uniq.each do |user|%>

                <div class="user-card col-xs-12 text-center">

                    <div class="white-text">
                      <%= user.email %>
                    </div>
                </div>
              <% end %>
            </div>

          </div>
    <% end %>

    <% if policy(@group).edit? %>
        <div class="text-center padded-sm">
        <%= link_to "Inviter des participants", new_group_invitation_path(@group), class:"button-add-a-new-group" %>
        </div>
    <% else %>
        <div class="text-center padded-sm">
          <%= link_to "Me retirer de ce groupe", remove_current_user_from_group_path(@group), class:"button-add-a-new-group" %>
        </div>

    <% end %>

  </div>
</div>
