<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="text-center">
        <%= simple_form_for(@user) do |f| %>

          <% if @user.errors.any? %>
            <div id="error_explanation">
              <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being created:</p>
              <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <%= f.input :first_name, label: "Prénom" %>
          <%= f.input :last_name, label: "Nom" %>
          <%= f.input :email, label: "Email"  %>
          <%= f.input :phone_number, label: "Téléphone"  %>
          <%= f.input :photo, as: :attachinary, label: 'Photo' %>

          <div class="terms hidden">
            <%= f.check_box :agreed_to_terms, checked: true %>
          </div>

        <%= f.submit "Update profile", class: "btn btn-profile btn-salmon", value: "Mettre à jour" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
