<div class="wrapper-devise-form">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 padded">
        <div class="wrapper-login">
          <div class="text-center">

            <h1>Mon profil</h1>

            <!-- Picture -->
            <div class="profile-photo profile-module">
              <% if @user.photo %>
                <%= cl_image_tag(@user.photo, gravity: :face,
                                                   width: 100,
                                                   height: 100,
                                                   crop: "fill",
                                                   radius: :max,
                                                   class: "avatar-profile") %>

              <% elsif current_user.facebook_picture_url? %>
                <%= image_tag current_user.facebook_picture_url, class: "avatar-profile" %>

              <% else %>
                <%= image_tag "man.png", class: "avatar-profile" %>
              <% end %>
            </div>

            <!-- DETAILS -->
            <div class="profile-details profile-module">
              <table class="table">
                <tbody>
                  <tr>
                    <td class = "cat">PRENOM</td>
                    <td class = "input"><%= @user.first_name ? @user.first_name.capitalize : ""%></td>
                  </tr>
                   <tr>
                    <td class = "cat">NOM</td>
                    <td class = "input"><%= @user.last_name ? @user.last_name.capitalize : "" %></td>
                  </tr>
                    <td class = "cat">EMAIL</td>
                    <td class = "input"><%= @user.email %></td>
                  <tr>
                    <td class = "cat">TELEPHONE</td>
                    <td class = "input"><%= @user.phone_number %></td>
                  </tr>
                  <tr>
                    <td class = "cat">MES GROUPES</td>
                    <td class = "input"><%=  raw @user.groups.uniq.map { |group| link_to group.name, group_participants_path(group) }.join(", ") %></td>
                  </tr>
                </tbody>
              </table>
              <div class="bloc-profile">
                <%= link_to "Modifier mon profil utilisateur", edit_user_path(@user), class: "btn-profile" %>
              </div>

            </div>

            <!-- For coaches only -->

            <div class="profile-coach-details profile-module">
              <% if current_user.coach_id? %>
                <table class="table">
                  <tbody>
                    <tr>
                      <td class = "cat">DESCRIPTION</td>
                      <td class = "input"><%= @user.coach.description %></td>
                    </tr>
                    <tr>
                      <td class = "cat">ACTIVITÉS</td>
                      <td class = "input"><%= @user.coach.sports.map {|s| s.name.capitalize}.join(", ") %></td>
                    </tr>
                    <tr>
                      <td class = "cat">FORMATION</td>
                      <td class = "input"><%= @user.coach.training ? @user.coach.training.capitalize : ""%></td>
                    </tr>
                    <tr>
                      <td class = "cat">EXPERIENCE</td>
                      <td class = "input"><%= @user.coach.experience %> années </td>
                    </tr>
                    <tr>
                      <td class = "cat">LANGUES</td>
                      <td class = "input"><%= @user.coach.languages.map {|language| language}.join(", ") %> </td>
                    </tr>
                    <td class = "cat">MES RESEAUX SOCIAUX</td>
                      <td class = "input">
                        <% if @user.coach.website.present?  %>
                          <%= link_to @user.coach.website, target: :_blank do %>
                            <i class="fa fa-globe profile-social-links" aria-hidden="true"></i>
                          <% end %>
                        <% end %>
                        <% if @user.coach.facebook.present?  %>
                          <%= link_to @user.coach.facebook, target: :_blank do %>
                            <i class="fa fa-facebook profile-social-links" aria-hidden="true"></i>
                          <% end %>
                        <% end %>
                        <% if @user.coach.instagram.present?  %>
                          <%= link_to @user.coach.instagram, target: :_blank do %>
                            <i class="fa fa-instagram profile-social-links" aria-hidden="true"></i>
                          <% end %>
                        <% end %>
                        <% if @user.coach.twitter.present?  %>
                          <%= link_to @user.coach.twitter, target: :_blank do %>
                            <i class="fa fa-twitter profile-social-links" aria-hidden="true"></i>
                          <% end %>
                        <% end %>
                        <% if @user.coach.linkedin.present?  %>
                          <%= link_to @user.coach.linkedin, target: :_blank do %>
                            <i class="fa fa-linkedin profile-social-links" aria-hidden="true"></i>
                          <% end %>
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <td class = "cat">TARIFS</td>
                      <td class = "input"><%= @user.coach.price ? @user.coach.price : "" %></td>
                    </tr>
                    <tr>
                      <td class = "cat">DISPONIBILITÉS</td>
                      <td class = "input"><%= @user.coach.availabilities ? @user.coach.availabilities : ""  %></td>
                    </tr>
                    <tr>
                      <td class = "cat">RAYON D'ACTION</td>
                      <td class = "input"><%= @user.coach.locations ? @user.coach.locations : ""  %>
                    </td>
                    </tr>
                    <tr>
                      <td class = "cat">WHAT ELSE</td>
                      <td class = "input"><%= @user.coach.comments ? @user.coach.comments : ""  %></td>
                    </tr>
                    <br>
                   </tbody>
                  </table>
                  <div class="bloc-profile">
                  <%= link_to "Modifier mon profil coach", edit_coach_path(@user.coach_id), class: "btn-profile"  %>
                  </div>
                <% end%>
              </div>

               <!-- Billing info -->

            <div class="profile-account profile-module">
              <!-- No account info created yet  -->
              <% if !@user.account %>
                <div class="mg-btm-50">
                  <%= link_to "Renseigner mes données de facturation", new_user_account_path(@user) %>
                </div>
              <!-- Account info created and if Natural -->
              <% elsif @user.account && @user.account.person_type == "PERSONNE PHYSIQUE" %>

              <table class="table">
                <tbody>
                  <tr>
                    <td class = "cat">PRENOM</td>
                    <td class = "input"><%= @user.account.first_name.capitalize %></td>
                  </tr>
                  <tr>
                    <td class = "cat">NOM</td>
                    <td class = "input"><%= @user.account.last_name.capitalize %></td>
                  </tr>
                  <tr>
                    <td class = "cat">PROFIL</td>
                    <td class = "input"><%= @user.account.person_type %></td>
                  </tr>
                  <tr>
                    <td class = "cat">ANNIVERSAIRE</td>
                    <td class = "input"><%= l(@user.account.birthday, format:"%e %B %Y")  %></td>
                  </tr>
                  <tr>
                    <td class = "cat">ADRESSE</td>
                    <td class = "input"><%= [@user.account.address_line1, @user.account.address_line2].join(" ") %>
                    </td>
                  </tr>
                  <tr>
                    <td class = "cat">       </td>
                    <td class = "input"><%= [@user.account.postal_code + " "+ @user.account.city.capitalize, @user.account.country_of_residence].join(", ") %>
                    </td>
                  </tr>
                  <tr>
                    <td class = "cat">NATIONALITÉ</td>
                    <td class = "input"><%= @user.account.country_name_of_nationality %></td>
                  </tr>
                </tbody>
              </table>
              <div class="bloc-profile">
              <%= link_to "Modifier mes données de facturation", edit_user_account_path(@user, @user.account.id), class: "btn-profile" %>
              </div>
                  <!-- Account created and if Legal -->
                <% else %>

                  <table class="table">
                   <tbody>
                    <tr>
                      <td class = "cat">PRENOM</td>
                      <td class = "input"><%= @user.account.first_name.capitalize %></td>
                    </tr>
                    <tr>
                      <td class = "cat">NOM</td>
                      <td class = "input"><%= @user.account.last_name.capitalize %></td>
                    </tr>
                    <tr>
                      <td class = "cat">NOM DE L'ORGANISATION'</td>
                      <td class = "input"><%= @user.account.legal_name.capitalize %></td>
                    </tr>
                      <td class = "cat">TYPE D'ORGANISATION</td>
                      <td class = "input"><%= @user.account.legal_person_type%></td>
                    <tr>
                    <tr>
                      <td class = "cat">PRENOM DU REPRÉSENTANT LEGAL</td>
                      <td class = "input"><%= @user.account.legal_representative_first_name.capitalize %></td>
                    </tr>
                     <tr>
                      <td class = "cat">NOM DU REPRÉSENTANT LEGAL</td>
                      <td class = "input"><%= @user.account.legal_representative_last_name.capitalize %></td>
                    </tr>
                      <td class = "cat">DATE D'ANNIVERSAIRE DU REPRÉSENTANT LEGAL</td>
                      <td class = "input"><%= l(@user.account.legal_representative_birthday, format:"%e %B %Y") %></td>
                    </tr>
                    </tr>
                      <td class = "cat">PAYS DE RÉSIDENCE DU REPRÉSENTANT LEGAL</td>
                      <td class = "input"><%= @user.account.country_name_of_legal_representative_residence %></td>
                    </tr>
                    </tr>
                      <td class = "cat">NATIONALITÉ DU REPRÉSENTANT LEGAL</td>
                      <td class = "input"><%= @user.account.country_name_of_legal_representative_nationality %></td>
                    </tr>
                  </tbody>
                </table>
                <div class="bloc-profile">
                  <%= link_to "Modifier mes données de facturation", edit_user_account_path(@user, @user.account.id), class: "btn-profile" %>
                 </div>
              <% end %>
            </div>

            <!-- Banking account details - IBAN - For coaches only -->
            <div class="profile-iban profile-module">
              <% if current_user.coach_id? %>

              <!-- As Iban is attached tu account, iban creation and update only enabled if account created -->
                <% if current_user.account %>
                  <% if !@user.account.iban %>
                    <%= link_to "Renseigner mes coordonnées bancaires", new_user_iban_path(@user) %>
                  <% else %>
                    <table class="table">
                       <tbody>
                        <tr>
                          <td class = "cat">IBAN</td>
                          <td class = "input"><%= @user.account.iban.iban %></td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="bloc-profile">
                      <%= link_to "Modifier mes coordonnées bancaires", edit_user_iban_path(@user, @user.account.iban.id), class: "btn-profile" %>
                    </div>
                  <%end%>
                <%end%>
              <% end %>
            </div>

            <!-- Coach account creation -->
            <% if !@user.coach_id? %>

              <% if @user.user_profile_complete? %>

                <div>
                    <div class="padded-bot-xs">
                      <%= link_to "Créez mon compte pro", new_coach_path, class: "btn-profile", id: "getting-pro" %>
                    </div>
                      <%= link_to "En savoir plus sur le compte pro", pro_path, id: "pro-link" %>
                </div>

              <% else %>

                <div>
                    <div class="padded-bot-xs">
                      <%= link_to "Créez mon compte pro", edit_user_path(@user), class: "btn-profile",
                      id: "getting-pro",
                      data: { confirm: "Vous devez au préalable compléter votre profil utilisateur...allez encore un petit effort!" } %>
                    </div>
                      <%= link_to "En savoir plus sur le compte pro", pro_path, id: "pro-link" %>
                </div>
              <%end%>

            <% end %>


            <!-- Ask for pro account validation -->
            <% if current_user.coach_id? && !current_user.coach.validated%>
              <div class="padded">
                <div class="padded-bot-xs">
                  <a href="mailto:hello@asanasano.com?subject=Oui, je veux activer mon compte PRO sur ASANASANO&body=Merci de le valider. Et que ça saute! A bientôt." class="share-link bg-email btn-profile", id="getting-pro"> Valider mon compte PRO</a>
                </div>
              </div>
            <%end%>

            <!-- Link_to previous page -->
            <% if request.referer.present? %>
              <div class="padded-sm">
                <%= link_to "Retour à la page précédente", request.referer.present? ? request.referer : default_path %>
              </div>
            <%end%>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
