<div class="navbar-wagon">
  <!-- LEFT : LOGO-->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "ASANASANO.png" %>
  <% end %>

  <!-- RIGHT  NAVIGATION -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- ON MEDIUM TO LARGE SCREEN  // Different navigation if login or not -->

    <!-- IF USER SIGNED IN-->
    <% if user_signed_in? %>

      <!-- If profile picture  -->
      <%= link_to t(".dashboard", default: "Tableau de bord"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <div class="navbar-wagon-item">
        <div class="dropdown">

      <!-- Different use cases depending on user picture status-->
          <!-- if user personnalized its photo -->
          <% if current_user.photo? %>
            <%= cl_image_tag(current_user.photo.path, gravity: :face,
                                           width: 30,
                                           height: 30,
                                           crop: "fill",
                                           radius: :max, id: "navbar-wagon-menu", "data-toggle" => "dropdown") %>

          <!-- if user has a fb picture -->
          <% elsif current_user.facebook_picture_url? %>
            <%= image_tag current_user.facebook_picture_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <!-- otherwise -->
           <% else %>
            <%= image_tag "man.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>
      <!-- --------- -->

          <!-- Dropdown menu  -->
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to profile_path do %>
                <i class="fa fa-user"></i>  <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Sign-out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <!-- IF USER NOT SIGNED IN YET-->
    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <!-- Signup text link -->
      <%= link_to t(".sign_up", default: "Créer un compte"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>

  </div>

  <!-- MOBILE ONLY - Dropdown list appearing on mobile only -->

  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>

      <!-- if connected: tableau de bord / profil / se déconnecter-->
      <% if user_signed_in? %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to t(".dashboard", default: "Dashboard"), dashboard_path %></li>
            <li><%= link_to t(".profile", default: "Profile"), profile_path %></li>
            <li><%= link_to t(".sign_out", default: "Sign-out"), destroy_user_session_path, method: :delete %></li>
        </ul>

      <!-- if not connected: sign-in / sign-up -->
      <% else %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to t(".sign_up", default: "Créer un compte"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        </ul>
      <% end %>


    </div>
  </div>
</div>

