<div class="card-cours">
  <!-- Affichage des infos génériques du cours -->
  <%= render 'course_info', course: course %>
  <!-- Affichage du statut seulement pour les group-owners et coaches -->
  <div class="course_status">
    <% if policy(course).update? %>
      <% if course.draft? %>
        <div class="published-green-circle">
          <!-- <p>non publié</p> -->
        </div>
      <% else course.active? %>
        <div class="non-published-red-circle">
          <!-- <p>publié</p> -->
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Affichage de la prochaine séance s'il y en a une-->
  <% if course.next_slot.present? %>
    <!-- <p>Prochaine séance</p> -->
    <%= render 'slot_info', slot: course.next_slot %>
    <!-- Affichage du statut de la prochaine séance s'il y en a une: inscrit / complet / s'inscrire-->

    <%= render 'slot_status', slot: course.next_slot %>
    <div id="toutes-les-seances">
      <%= link_to "Toutes les séances",
                  course_path(course),
                  id:"toutes-les-seances-text" %>
    </div>
  <% else %>
    <div class="no-seance">Aucune séance</div>P
    <div id="ajouter-une-seance">
      <%= link_to "Ajouter une séance",
                  course_path(course),
                  id:"ajouter-une-seance-text" %>
    </div>
  <% end %>
  <!-- Accès au cours et à l'ensemble de ses séances-->
</div>




