<div class="card">

  <!-- Affichage du statut seulement pour les group-owners et coaches -->
  <div class="course_status">
    <% if policy(course).update? %>
      <% if course.draft? %>
        <p>non publié</p>
      <% else course.active? %>
        <p>publié</p>
      <% end %>
    <% end %>
  </div>

  <!-- Infos communes -->
  <div class="course-info">

    <div class="course-name">
      <%= link_to course.name, course_path(course) %>
    </div>

    <div class="sport-icon">
      <%= cl_image_tag course.sport.icon.path, width: 40, height: 40, crop: :fill, class:"sport-icon" %>
    </div>

    <div class="coach-info">
      <div class="coach-name">
          <% if !course.coach_id.nil? %>
          <p>avec <%= course.coach.first_name %></p>
        <% end %>
      </div>
      <div class="card-user avatar">
        <%= image_tag "avatar.jpg", class: "avatar"%>
      </div>
    </div>

    <div class="next_slot">
        <!-- S'il y a une prochaine séance -->
        <% if !course.next_slot.nil? %>
          <p>Prochaine séance</p>
          <p><i class="fa fa-calendar" aria-hidden="true"></i>  <%= l(course.next_slot.date, format: :long) %></p>
          <p><i class="fa fa-clock-o" aria-hidden="true"></i>  <%= course.next_slot.start_at.strftime("%H:%M") %> - <%= course.next_slot.end_at.strftime("%H:%M") %></p>
          <p><i class="fa fa-user-o" aria-hidden="true"></i>  <%= course.next_slot.users.count %> / <%= course.capacity_max %></p>

          <!-- Si le user est inscrit à la prochaine séance-->
          <% if course.next_slot.users.include?(current_user) %>
            <p>Inscrit</p>
          <!-- Si le cours est complet-->
          <% elsif course.next_slot.is_full? %>
            <p>Complet</p>
          <!-- Sinon-->
          <% else %>
            <%= link_to "S'inscrire", course_path(course) %>
          <% end %>

        <!-- S'il n'y a pas de prochaine séance -->
        <% else %>
          <p>Pas de prochaine séance prévue</p>
        <% end %>
    </div>

    <div class="course_access">
      <%= link_to "Toutes les séances", course_path(course) %>
    </div>

 </div>
</div>




