<div class="next_slot">
  <p>
    <i class="fa fa-calendar" id="calendar-icon"aria-hidden="true">
    </i>
    <p class="text-date"><%= l(slot.date, format: :long) %></p>
  </p>
  <p>
    <i class="fa fa-clock-o" id="clock-icon"aria-hidden="true"></i>
    <p class="text-hours"><%= slot.start_at.strftime("%H:%M") %> - <%= slot.end_at.strftime("%H:%M") %></p>
  </p>
  <p>
    <i class="fa fa-user-o" id="user-icon"aria-hidden="true"></i>
    <p class="text-users-count"><%= slot.users.count %> / <%= slot.course.capacity_max %></p>
  </p>
</div>
