<div class="next_slot">
  <p>
    <i class="fa fa-calendar" id="calendar-icon">
    </i>
    <p class="text-date"><%= l(slot.date, format: :medium) %></p>
  </p>
  <p>
    <i class="fa fa-clock-o" id="clock-icon"></i>
    <p class="text-hours"><%= slot.start_at.strftime("%H:%M") %> - <%= slot.end_at.strftime("%H:%M") %></p>
  </p>
  <p>
    <i class="fa fa-users" id="user-icon"></i>
    <p class="text-users-count"><%= slot.users.count %> / <%= slot.course.capacity_max %></p>
  </p>
</div>
