<div id="banner-corp" style="background-image: linear-gradient(-225deg, rgba(232, 106, 103, 0.05) 0%, rgba(0, 16, 61, 0.22) 50%), url(<%= image_path("corporate.jpg") %> );">
  <div class="banner-content">
    <h1>Pour une société en bonne santé </h1>
    <p>Une solution clé en main <br> qui permet à vos salariés <br>d'organiser simplement et régulièrement <br>des séances de sport au bureau !</p>
    <%= link_to "Contactez-nous", "mailto:hello@asanasano.com?subject=Prise de contact et demande de devis gratuit&body=Bonjour, Je souhaiterais en savoir plus sur votre service pour la société *******. Merci de me recontacter au plus vite. Prénom Nom, Fonction, Téléphone (A compléter). See you, merci beaucoup! ", class: "btn btn-default btn-lg" %>
  </div>
</div>

<!-- Container Key figures -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 ">
      <div class="key-fig text-center" >
        <%= image_tag "iconmonstr-rocket.png", class: "icon-pro" %>
        <h3>+ 2 à 9%
        <br>de productivité (1)</h3>
        <p>Augmentation de productivité individuelle et collective</p>
        <a href="http://www.medef.com/fileadmin/www.medef.fr/documents/Goodwill/Synthese-pedagogique_Goodwill_090915.pdf">(1) Source Etude Goodwill Management pour le MEDEF & AG2R La mondiale 2015 </a>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 ">
      <div class="key-fig text-center" >
        <%= image_tag "iconmonstr-magnet.png", class: "icon-pro" %>
        <h3>-25%
        <br> sur le turnover (2)</h3>
        <p>Meilleure attractivité sur le marché de l’emploi et fidélisation des collaborateurs</p>
        <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/209547/hwwb-dwp-wellness-report-public.pdf">(2) Source Pricewaterhouse Coopers 2008</a>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 ">
      <div class="key-fig text-center" >
        <%= image_tag "iconmonstr-medical.png", class: "icon-pro" %>
        <h3>-30%
          <br>sur l’absentéisme (3)</h3>
          <p>Diminution des risques professionnels : stress, troubles musculo-squelettique [TMS], fatigue chronique) et amélioration de l’état général de santé</p>
          <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/209547/hwwb-dwp-wellness-report-public.pdf">(3) Source Pricewaterhouse Coopers 2008</a>
      </div>
    </div>
  </div>
</div>

<hr>

<!-- Container advantages   -->
<br>
<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-6">
      <div class="pro-benefice avantages-border-left shadow text-center">
        <h3>Créez les conditions favorables au bien-être de vos salariés</h3>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Promouvoir sans imposer. Avec ASANASANO, ce sont les salariés volontaires qui choisissent les activités qu’ils souhaitent pratiquer.</p>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Il suffit de les y autoriser et idéalement de mettre à leur disposition un lieu adapté où pratiquer. </p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="pro-benefice avantages-border-left shadow text-center">
        <h3>Contrôlez complètement votre investissement</h3>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  A vous de choisir si vous souhaitez participer financièrement ou non, pour tout ou partie des cours dispensés.</p>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Le CE aussi peut abonder. </p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="pro-benefice avantages-border-left shadow text-center">
        <h3>Tous nos coachs sont certifiés et assurés</h3>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  ASANASANO s’engage à récupérer les certifications et les assurances responsabilité civile professionnelle de tous les coachs indépendants qui rejoignent la plateforme pour une pratique en toute sécurité.</p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="pro-benefice avantages-border-left shadow text-center">
        <h3>Un contenu de sensibilisation pour aider vos collaborateurs à bouger et à rester motivés</h3>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Pour ceux qui le souhaitent, ASANASANO, c’est aussi régulièrement de l’info synthétique et sympathique pour promouvoir au quotidien de meilleures pratiques.</p>
      </div>
    </div>
  </div>
</div>
<br>


<!-- Container CTA -->
<div class="banner" id="corporate-hall" style="background-image: linear-gradient(-225deg, rgba(168, 31, 0, 0.65) 0%, rgba(0, 16, 61, 0.22) 50%), url(<%= image_path("hall.jpg") %> );">
  <div id="banner-corp-content">
    <h2 class="title-2nd-banner-corp">Offre de lancement <br> Demandez-nous un audit et un devis gratuit</h2>
    <%= link_to "C'est par ici!", "mailto:hello@asanasano.com?subject=Prise de contact et demande de devis gratuit&body=Bonjour, Je souhaiterais en savoir plus sur votre service pour la société *******. Merci de me recontacter au plus vite. Prénom Nom, Fonction, Téléphone (A compléter). See you, merci beaucoup! ", class: "btn btn-default btn-lg" %>
  </div>
</div>

<!-- container témoignages-->
<hr>
    <div class="text-center">
      <h3 class="testimony">témoignages</h3>
    </div>
<div class="container">

  <div class="row">

    <div class="col-sm-12">
      <div class="testimonial">
          <div class="pic">
              <%= image_tag "mathieu.png", class: "avatar-home" %>
          </div>
          <div>
            <p class="description">
              Un vrai succès. Un quart de nos salariés pratique désormais régulièrement.
            </p>
            <h3 class="testimonial-title">Mathieu - Chief Happiness Officer</h3>
          </div>
      </div>
    </div>

    <div class="col-sm-12" style="margin-right: 1px">
      <div class="testimonial">
        <div class="pic">
            <%= image_tag "louis.jpg", class: "avatar-home" %>
        </div>
        <div>
          <p class="description">
            Ici, on a découvert le taï-chi et on est devenu accro... 20’ tous les matins...les gens sont moins stressés, même le codir s’y est mis.
          </p>
          <h3 class="testimonial-title">Louis - CEO</h3>
        </div>
      </div>
    </div>

  </div>
  <br>
