<div class="banner" id="banner-corp" style="background-image: linear-gradient(-225deg, rgba(232, 106, 103, 0.05) 0%, rgba(0, 16, 61, 0.22) 50%), url(<%= image_path("corporate.jpg") %> );">
  <div class="banner-content">
    <h1 class="titles-home">Pour une société en bonne santé </h1>
    <p class="titles-home">Une solution clé en main pour mettre le bureau au mouvement  !</p>
      <%= link_to "Contactez-nous", "mailto:hello@asanasano.com", class: "btn btn-default btn-lg" %>
  </div>
</div>

<!-- Container advantages   -->
<br>
<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-6">
      <div class="pro-benefice avantages-border-left shadow text-center">
        <h3>Créer les conditions favorables au bien-être de vos salariés</h3>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Promouvoir sans imposer. Avec ASANASANO, ce sont les salariés volontaires qui choisissent les activités qu’ils souhaitent pratiquer.</p>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Il suffit de les y autoriser et idéalement de mettre à leur disposition un lieu adapté où pratiquer. </p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="pro-benefice avantages-border-left shadow text-center">
        <h3>Vous contrôlez complètement votre investissement</h3>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  A vous de choisir si vous souhaitez participer financièrement ou non, pour tout ou partie des cours dispensés.</p>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Le CE aussi peut abonder. </p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="pro-benefice avantages-border-left shadow text-center">
        <h3>Tous nos coachs sont certifiés et assurés</h3>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  ASANANO s’engage à récupérer les certifications et les assurances responsabilité civile professionnelle de tous les coachs indépendants qui rejoignent la plateforme pour une pratique en toute sécurité.</p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="pro-benefice avantages-border-left shadow text-center">
        <h3>Un contenu de sensibilisation pour aider vos collaborateurs à bouger et à rester motivés</h3>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Pour ceux qui le souhaitent, ASANANO, c’est aussi régulièrement de l’info synthétique et sympathique pour promouvoir au quotidien de meilleures pratiques.</p>
      </div>
    </div>
  </div>
</div>
<br>

  <!-- Container Coach -->
<div class="banner" id="corporate-hall" style="background-image: linear-gradient(-225deg, rgba(168, 31, 0, 0.65) 0%, rgba(0, 16, 61, 0.22) 50%), url(<%= image_path("hall.jpg") %> );">
  <div id="banner-pro-content">
    <h2 class="title-2nd-banner-corp">Demandez-nous un audit gratuit</h2>
    <%= link_to "C'est par ici!", "mailto:hello@asanasano.com", class: "btn btn-default btn-lg" %>
  </div>
</div>

<!-- container témoignages-->
<hr>
    <div class="text-center">
      <h3 class="testimony">témoignages</h3>
    </div>
<div class="container">

  <div class="row">

    <div class="col-sm-12">
      <div class="testimonial">
          <div class="pic">
              <%= image_tag "mathieu.png", class: "avatar-home" %>
          </div>
          <div>
            <p class="description">
              Un vrai succès. Un quart de nos salariés pratique désormais régulièrement.
            </p>
            <h3 class="testimonial-title">Mathieu - Chief Happiness Officer</h3>
          </div>
      </div>
    </div>

    <div class="col-sm-12" style="margin-right: 1px">
      <div class="testimonial">
        <div class="pic">
            <%= image_tag "louis.jpg", class: "avatar-home" %>
        </div>
        <div>
          <p class="description">
            Ici, on a découvert le taï-chi et on est devenu accro... 20’ tous les matins...les gens sont moins stressés, même le codir s’y est mis.
          </p>
          <h3 class="testimonial-title">Louis - CEO</h3>
        </div>
      </div>
    </div>

  </div>
  <br>
