<!-- WRAPPER DASHBOARD -->
<div class="wrapper-dashboard">
  <!-- MES PROCHAINES SEANCES -->
  <div class="prochaines-seances-text">
    <h2>Mes prochaines séances</h2>
  </div>
  <div class="mes-prochaines-seances-container">
  <!--     MES PROCHAINES SEANCES > FOR COACHES ONLY -->

    <% if @user.coach? %>
      <div id="coach-next-slots" class= "blue-text">

      <!-- if no future slots scheduled -->
        <% if @user.dashboard_coach_next_slots.empty? %>
          <div class="text-center blue-text">
            <p>Vous n'avez pas de séance à venir programmée en tant que pro.</p>
          </div>
        <% end %>
      <!-- otherwise, display slots -->
        <% slots_dates(@user.dashboard_coach_next_slots).each do |date| %>
          <div class="db-slot-list-by-date">
            <strong><%= date_with_mention_if_today_tomorrow(date) %></strong>
              <div class="db-coach-slot-details">
                <% select_by_date(@user.dashboard_coach_next_slots, date).each do |slot| %>
                  <%= link_to course_path(slot.course) do %>
                   <li> <i class="fa fa-clock-o" aria-hidden="true"></i> <%= l(slot.start_at, format:"%Hh%M")%>-<%= l(slot.end_at, format:"%Hh%M") %> &nbsp; &nbsp; <i class="fa fa-users" aria-hidden="true"></i> <%= slot.users.count %> / <%= slot.course.capacity_max %> &nbsp; &nbsp;  <%= slot.course.group.name %>: <i class="fa fa-map-marker" aria-hidden="true"></i>  <%= slot.course.address %> </li>
                  <% end %>
                <% end %>
              </div>
          </div>
        <%end%>
      </div>
    <% end %>

<!-- MES PROCHAINES SEANCES > FOR EVERYBODY -->
    <div class="row">
      <% if @user.next_slots.empty? %>

        <div class="text-center blue-text">
          <% if @user.coach? %>
            <p>Vous n'avez pas réservé de séances à venir, en tant que simple participant</p>
          <% else %>
            <p>Vous n'avez pas encore réservé de séances à venir</p>
          <% end %>
        </div>

      <% else %>
        <% @user.next_slots.each do |slot| %>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <%= render 'dashboard-slot-card', slot: slot %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- TOUS MES COURS -->
  <div class="toutes-mes-activites-title">
    <h2>Mes activités</h2>
  </div>

  <!-- PRESENTATION DE TOUS MES GROUPES AVEC LES COURS ASSOCIES -->

  <% @user.group_list.sort.each do |group| %>
    <!-- GROUP-CONTAINER -->
    <div class="group-container">
          <div>
            <% if policy(group).edit? %>
              <%= link_to "", edit_group_path(group), class:"fa fa-pencil edit-delete-icons-color", id:"edit-button"%>
            <% end %>

            <% if policy(group).destroy? %>
              <%= link_to "", group_path(group),
                         method: "delete",
                         data: { confirm: "Êtes-vous sûr de vouloir supprimer le groupe #{group.name.capitalize}?" },
                         class:"fa fa-trash-o edit-delete-icons-color", id:"delete-button"
              %>
            <% end %>
            <%= link_to "", group_participants_path(group), class:"fa fa-users edit-delete-icons-color", id:"participants-button"%>
          </div>

          <div class="group-title blue-shadow-text">
            <%= group.name%>
          </div>

          <!-- if no activity proposed -->
          <div id="no_activity">
            <% if group.courses.empty? %>
              <div class="text-center blue-text">
                <p>Damned, il n'y pas d'activité proposée...</p>
                <i class="fa fa-envelope-o"></i> <a href=<%= "mailto:" + group.owner.email%>>
                Contacter le ou la chef </a>
              </div>
            <% end %>
          </div>

          <div class="row">
            <% group.courses.sort.each do |course| %>

              <div class="col-sm-6 col-md-4 col-lg-3">
                <!-- Si coach ou group owner => afficher tous les cours -->
                <% if policy(course).update? || course.active? %>
                  <%= render 'dashboard-course-card', course: course %>
                <!-- Sinon, n'afficher que les cours actifs pour les simples membres -->
                <% end %>
              </div>

          <% end %>
           </div>
             <% if policy(group).edit? %>
               <div class="text-center">
                  <ul class="list-inline text-align-center">
                    <li><%= link_to "Créer une nouvelle activité", new_group_course_path(group), class:"button-add-a-new-group" %></li>
                    <li><%= link_to "Inviter des participants", new_group_invitation_path(group), class:"button-add-a-new-group" %></li>
                  </ul>
                </div>
              <% end %>
        </div>

  <% end %>
  <!-- AJOUTER UN NOUVEAU GROUPE -->
    <% if policy(Group).new? %>
      <% if current_user.user_profile_complete? %>
          <%= link_to "Ajouter un nouveau groupe", new_group_path, class:"button-add-a-new-group" %>
      <% else %>
          <%= link_to "Ajouter un nouveau groupe", edit_user_path(@current_user.id),
                 data: { confirm: "Pour un créer un groupe, vous devez d'abord compléter votre profil utilisateur!" },
                 class: "button-add-a-new-group"  %>
      <% end %>
    <% end %>
</div>


