<!-- WRAPPER DASHBOARD -->
<div class="wrapper-dashboard">
  <!-- MES PROCHAINES SEANCES -->
  <div class="prochaines-seances-text">
    <h2>Mes prochaines séances</h2>
  </div>
  <div class="mes-prochaines-seances-container">
    <div class="row">

        <% @user.next_slots.each do |slot| %>
          <div class="col-xs-10">
        <%= render 'dashboard-slot-card', slot: slot %>

      </div>
      <% end %>
    </div>
  </div>
  <!-- TOUS MES COURS -->
  <div class="toutes-mes-activites-title">
    <h2>Mes activités</h2>
  </div>
  <!-- PRESENTATION DE TOUS MES GROUPES AVEC LES COURS ASSOCIES -->

  <% @user.groups.sort.each do |group| %>
    <!-- GROUP-CONTAINER -->
    <div class="group-container">
          <div >
            <% if policy(group).edit? %>
              <%= link_to "", edit_group_path(group), class:"fa fa-pencil edit-delete-icons-color", id:"edit-button"%>
            <% end %>
          </div>

            <% if policy(group).destroy? %>
              <%= link_to "", group_path(group),
                         method: "delete",
                         data: { confirm: "Êtes-vous sûr de vouloir supprimer le groupe #{group.name.capitalize}?" },
                         class:"fa fa-trash-o edit-delete-icons-color", id:"delete-button"
              %>
            <% end %>

          <div class="group-title white-shadow-text">
            <%= group.name%>
          </div>

          <div class="row">
            <% group.courses.sort.each do |course| %>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                <!-- Si coach ou group owner => afficher tous les cours -->
                <% if policy(course).update? || course.active? %>
                  <%= render 'dashboard-course-card', course: course %>
                <!-- Sinon, n'afficher que les acours actifs pour les simples membres -->
                <% end %>
              </div>

          <% end %>
           </div>
           <% if policy(group).edit? %>
                  <%= link_to "Créer une nouvelle activité", new_group_course_path(group), class:"button-add-a-new-group", id:"create-a-new-course-button" %>
                <% end %>
        </div>

  <% end %>
  <!-- AJOUTER UN NOUVEAU GROUPE -->
    <% if policy(Group).new? %>
      <%= link_to "Ajouter un nouveau groupe", new_group_path, class:"button-add-a-new-group" %>
  <% end %>
</div>

