<div class="banner" style="background-image: linear-gradient(-225deg, rgba(232, 106, 103, 0.05) 0%, rgba(0, 16, 61, 0.22) 50%), url(<%= image_path("pro.jpg") %> );">
  <div class="banner-content">
    <h1 class="titles-home">Encore plus PRO avec ASANASANO</h1>
    <p class="titles-home">La solution clé en main pour simplifier le quotidien des profs indépendants qui souhaitent le rester !</p>
     <!-- if current user not connected => sign-up: new_user_registration_path -->
    <% if !user_signed_in? %>
      <%= link_to "Créez votre espace pro", new_pro_user_registration_path, class: "btn btn-default btn-lg" %>
    <!-- if current user's signed in => dashboard: dashboard_path -->
    <% else %>
      <%= link_to "Créez votre espace pro", dashboard_path, class: "btn btn-default btn-lg" %>
    <% end %>
  </div>
</div>

<!-- Container advantages   -->
<br>
<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-6">
      <div class="pro-benefice avantages-border-left shadow text-center">
        <h2>Réservation en ligne</h2>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Planning en ligne toujours à jour</p>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Inscription rapide</p>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Gestion des annulations et files d'attente</p>
        <p class="padded-top-sm">Le remplissage de vos cours optimisé, sans avoir à vous en soucier</p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="pro-benefice avantages-border-left shadow text-center">
        <h2>Paiement en ligne</h2>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Vous fixez vos tarifs</p>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Le paiement en ligne est sécurisé</p>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  L'argent encaissé est versé sur votre compte en moins de 3 jours</p>
        <p class="padded-top-sm">Plus de no-show, gagnez en sérénité</p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="pro-benefice avantages-border-left shadow text-center">
        <h2>Communication fluide</h2>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Envoi du planning des nouvelles sessions</p>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Envoi automatique de confirmation</p>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Automatisation des rappels</p>
        <p class="padded-top-sm">Fini les tâches répétitives, concentrez-vous sur vos cours</p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="pro-benefice avantages-border-left shadow text-center">
        <h2>Cours supplémentaires réguliers</h2>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Un espace personnalisé dédié pour vous raconter et présenter vos cours</p>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Trouvez et donnez de nouveaux cours réguliers tout au long de l'année en entreprise grâce à ASANASANO</p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="pro-benefice avantages-border-left shadow text-center">
        <h2>Support réactif et personnalisé </h2>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Support par mail, tchat et téléphone </p>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  En français et en anglais </p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="pro-benefice avantages-border-left shadow text-center">
        <h2>Pas de cours, pas de frais</h2>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Paiement à la commission: vous ne payez que lorsque le service est utilisé </p>
          <p class="text-justify"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Contactez-nous pour profitez de notre offre de lancement</p>
      </div>
    </div>
  </div>
</div>
<br>

<!-- container témoignages-->
<hr>
<div class="container">
  <div class="row">
    <div class="text-center">
      <h3 class="testimony">témoignages</h3>
    </div>
  <br>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="testimonial">
          <div class="pic">
              <%= image_tag "cherine.jpeg", class: "avatar-home" %>
          </div>
          <div>
            <p class="description">
              Fini de jouer à la marchande: plus de de monnaie à rendre et de chèque à prendre...
              Je me concentre uniquement sur mes élèves et mon cours.
            </p>
            <h3 class="testimonial-title">Cherine - Prof de yoga</h3>
          </div>

      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="testimonial">
          <div class="pic">
              <%= image_tag "kilian.jpeg", class: "avatar-home" %>
          </div>
          <div>
            <p class="description">
              Je sais à chaque cours qui vient...et je ne me déplace plus jamais pour rien.
              Avec le paiement en ligne les élèves sont engagés.
              Le site gère aussi tous les rappels, ce qui évite les oublis.
            </p>
            <h3 class="testimonial-title">Kilian - Escalade et marches sportives </h3>
          </div>
      </div>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-6" style="margin-right: -1px">
      <div class="testimonial">
        <div class="pic">
            <%= image_tag "colin.jpeg", class: "avatar-home" %>
        </div>
        <div>
          <p class="description">
            Une super solution pour gérer communication, réservation et paiement, simple et efficace.
            Indispensable pour les coach qui développent leur activité en entreprise.
          </p>
          <h3 class="testimonial-title">Colin - Coach remise en forme</h3>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6" style="margin-right: 1px">
      <div class="testimonial">
        <div class="pic">
            <%= image_tag "morgan.jpeg", class: "avatar-home" %>
        </div>
        <div>
          <p class="description">
            J'apprécie la souplesse du service qui me permet de définir en fonction des contextes, la durée, le prix par participant, le nombre minimum de participants par cours et ma politique d'annulation. Très utile!
          </p>
          <h3 class="testimonial-title">Morgan - Coach pilates et fitness</h3>
        </div>
      </div>
    </div>
  </div>
  <br>

