<div style="color: #64676C";font: sans-serif";margin-left: 10px" >

  <div class="body", style="padding-bottom: 4px">

  <h1>Demande de renseignements / devis</h1>

    <ul>
      <li><%=@message.name %></li>
      <li><%=@message.company %></li>
      <li><%=@message.email %></li>
      <li><%=@message.phone_number %></li>
      <li><%=@message.body %></li>
    </ul>
  </div>

</div>
