<div class="wrapper-devise-form">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 padded">
        <div class="wrapper-login">
          <div class="text-center">

            <h2>Dernière ligne droite</h2>

            <%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>

              <% if @user.errors.any? %>
                <div id="error_explanation">
                  <p><%= pluralize(@user.errors.count, "erreur(s)") %> empêche(nt) la création du compte:</p>
                  <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="form-inputs">
                <%= f.hidden_field :invitation_token %>
                <%= f.input :email, label: "Je valide mon adresse email" %>
                <%= f.input :password, label: "Je définis mon mot de passe" %>
                <%= f.input :password_confirmation, label: "Je le confirme" %>
              </div>

              <div class="terms">
                 <%= f.check_box :user_terms_acceptance %> <strong> Je dis "OUI" <a href="#" data-toggle="modal" data-target="#TermsModal">aux conditions générales du service</a></strong>
              </div>

 <!-- Modal TERMS AND CONDITIONS // ATTENTION!!! REPEATED ON INVITATION ACCEPTATION VIEW-->
              <div class="modal fade" id="TermsModal" tabindex="-1" role="dialog" aria-labelledby="ServiceTermsAndConditions">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Service Terms and Conditions</h4>
                    </div>
                    <div class="modal-body">
                        <%= render 'devise/shared/terms' %>
                    </div>
                  </div>
                </div>
              </div>
  <!-- MODAL END               -->

              <div class="form-actions padded-sm">
                  <%= f.button :submit, value:"Et hop, je m'inscris", class: "btn" %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


