<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="text-center">
        <%= simple_form_for(@coach) do |f| %>
        <%= f.input :description %>
        <%= f.association :sports, collection: Sport.all, as: :check_boxes %>
        <%= f.input :experience, label: "Nombre d'années d'expérience", collection: 1..50 %>
        <%= f.input_field :languages,
            collection: ["Allemand",
                         "Anglais",
                         "Arabe",
                         "Chinois",
                         "Français",
                         "Hindi",
                         "Italien",
                         "Portuguais",
                          "Russe"],
            multiple: true,
            as: :check_boxes,
            default: 1  %>
        <%= f.submit "Mettre à jour mon profil", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

