<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="text-center">
        <%= simple_form_for(@coach) do |f| %>

        <% if @coach.errors.any? %>
          <div id="error_explanation">
            <p><%= pluralize(@coach.errors.count, "error") %> prohibited this coach from being saved:</p>
            <ul>
            <% @coach.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.input :description, :input_html => {:style => 'width: 100%', :rows => 8},
                    placeholder:
                    "Attention, ce petit texte est à soigner. Car il s'agit de VOUS. C'est ici que vous êtes invité(e) à vous présenter et tout nous dire sur votre histoire, votre approche...et plus concrètement sur la ou les expérience(s) que vous souhaitez transmettre et partager. Alors exprimez-vous!" %>
        <%= f.association :sports, collection: Sport.all.sort_by {|sport| sport.name} , as: :check_boxes %>
        <%= f.input :training, label:"Formation", :input_html => {:style => 'width: 100%', :rows => 3}, placeholder: "Un diplôme, une certification...obtenu ou et quand? Nous voulons tout savoir" %>
        <%= f.input :experience, label: "Nombre d'années d'expérience", collection: 0..50 %>
        <%= f.label :languages, label:"Langues parlées" %>
        <%= f.input_field :languages,
            collection: ["Allemand",
                         "Anglais",
                         "Arabe",
                         "Chinois",
                         "Français",
                         "Hindi",
                         "Italien",
                         "Portuguais",
                          "Russe"],
            multiple: true,
            as: :check_boxes,
            default: 1 %>
        <%= f.input :price, :input_html => {:style => 'width: 100%', :rows => 7},
                    placeholder:
                    "Ici, on parle ouvertement d'argent...mais cela reste entre nous.
                    Quels sont vos tarifs habituels en entreprise, pour des particuliers ?
                    1er cours, cours vendu à l'unité, par 10, par 20 cours ? Pour combien d'élèves au minimum et au maximum ?
                    Et si c'était pour donner deux cours d'affilée au même endroit, ça change quelque chose ou pas ? ",
                    label:"Quelques infos sur vos tarifs" %>
        <%= f.input :availabilities, :input_html => {:style => 'width: 100%', :rows => 7},
                    placeholder:
                    "Entre nous, encore...
                    Quand auriez-vous des disponibilités pour donner quelques cours supplémentaires?
                    Quels jours ? Quels horaires ?
                    Promis, si nous entendons parler d'un plan, nous le partagerons." ,
                    label:"A la recherche de nouveaux cours" %>
        <%= f.input :locations, :input_html => {:style => 'width: 100%', :rows => 7},
                    placeholder:
                    "Entre nous, toujours...
                    Jusqu'où seriez-vous prêt à aller...Telle est la question.
                    A vous d'écrire la réponse:
                    - Paris et petite couronne ?
                    - A 5 minutes à pied de la Gare Saint Charles peut-être pour les marseillais ?
                    - A 20 minutes en vélo de chez vous ?
                    - Uniquement sur les lignes 8 et 9 ?
                    - Pas plus de 30 minutes de transport en commun?
                    - ...." ,
                    label:"Jusqu'où iriez-vous?" %>
        <%= f.input :comments, :input_html => {:style => 'width: 100%', :rows => 7},
                    placeholder:
                    "Quelque chose à ajouter ?
                    Vous cherchez de temps en temps à vous faire remplacer ? Au contraire, vous êtes preneurs de remplacement ?
                    Anything...vous pouvez tout nous dire ou nous demander ici.",
                    label:"What else ?" %>
        <%= f.input :insurance, as: :attachinary, label: 'Responsabilité civile professionnelle' %>

        <%= f.submit "Mettre à jour mon profil", class: "btn btn-profile btn-salmon" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

