<h1>Bonjour <%= @user.first_name? ? @user.first_name : @user.email %>, </h1>

<p>C'est noté! Vous êtes bien inscrit à la séance de
  <%= @order.slot.course.name %> prévue le <%= @order.slot.date %> de <%= @order.slot.start_at %> à <%= @order.slot.end_at %>.
</p>

<p>C'est super, non?
</p>
