<div style="color: #64676C";font: sans-serif";margin-left: 10px" >

  <div class="hello", style="padding-bottom: 4px">
    <p>Bonjour<%=" "+@user.first_name.capitalize if @user.first_name? %>,</p>
  </div>

  <div class="body", style="padding-bottom: 4px">
    <p>Petit rappel pour votre séance de <strong><%= @slot.course.name %></strong>, prévue <strong> après-demain  <%= l(@slot.start_at, format:"%A %e %B %Y")%>, de <%= l(@slot.start_at, format:"%Hh%M")%>  à <%= l(@slot.end_at, format:"%Hh%M") %></strong> à <%= @slot.course.address %>.
      <% if @slot.specificities.present?%>
        <%= @slot.course.meeting_point%>.
      <% end %>
    </p>
    <!--si pas d'inscrit -->
    <% if @slot.users.length == 0 %>
      <p>Il n'y a encore aucun inscrit à cette séance. Si vous souhaitez l'annuler, vous pouvez le faire avant demain 17h.</p>
    <!--si nb min non atteint   -->
    <% elsif @slot.users.length > 0 && @slot.users.length < @slot.participants_min %>
     <p>À date, il y a <%= @slot.users.length %> personne(s) inscrite(s): </p>
     <ul>
      <% @slot.users.each do |user|%>
        <li><%= user.first_name %> <%= user.last_name %></li>
      <% end %>
     </ul>
      <p>Le nombre minimum de paticipants minimum n'est pas encore atteint. Si vous souhaitez ne pas donner cours dans ces conditions, vous avez jusqu'à la veille 17h pour l'annuler, il sera sinon automatiquement confirmé par mail à l'ensemble des inscrits demain à 18h.</p>
    <!--si nb d'inscrits > nb mini    -->
    <% else %>
      <p>A date, il y a <%= @slot.users.length %> personne(s) inscrite(s): </p>
      <% @slot.users.each do |user|%>
      <ul>
        <li><%= user.first_name %> <%= user.last_name %></li>
      </ul>
      <% end %>
      <p>Le nombre minimum de participants est atteint: le cours est confirmé.</p>
      <p>Chaque participant recevra un mail automatique de rappel, demain à 18h.</p>
    <% end %>

    <p>Pour accéder directement au cours, c'est <a href=<%=course_url(@slot.course)%>>par ici</a>.</p>

    <p>Bonne journée,</p>
  </div>

  <div class="signature", style="line-height: 0.4em">
    <p>Asanasano</p>
    <p><strong><a href="mailto:hello@asanasano.com", style="color: #64676C";font-family:sans-serif">hello@asanasano.com</a></strong></p>
    <div style="text-align: center">
      <a href="www.asanasano.com"><img src="https://www.asanasano.com/assets/ASANASANO-e81a1dd672b0542eb090bb433b0c2b5aa54e456b8dd03cdc3be40b41f341978b.png" alt="Logo Asanasano", style="width:215px;height:60.2;border:0;margin:0 auto"></a>
    </div>
  </div>

</div>
