<% if course.slots.empty? %>
  <div class="text-center white-shadow-text margin-30">
    <p>Il n'y a pas de séance programmée pour ce cours.</p>
    <br>
    <p>
      Contacter <%= course.group.owner.first_name %> <%= course.group.owner.last_name %> pour en savoir plus: <strong><%= course.group.owner.email %></strong>.
    </p>
  </div>
<% else %>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center mg-btm-top-h2">
        <h2 id="title-slot-display" class="white-shadow-text">Réserver une séance</h2>
      </div>
    </div>
  </div>
  <% course.next_slots.each do |slot| %>
    <div class="row" >
      <div class="col-xs-12">
        <div class="wrapper-slot-card">
          <div id="slot-card-<%= slot.id %>">
              <%= render 'courses/slot_card', slot: slot, course: course %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
