<div class="row">
  <!-- SLOT INFOS -->
  <div class="col-xs-12 col-sm-8">
    <!-- SLOT DATE -->
    <p><i class="fa fa-calendar"></i>  <%= l(slot.date, format: :long) %></p>
    <!-- SLOT TIME -->
    <p><i class="fa fa-clock-o"></i>  <%= slot.start_at.strftime("%H:%M") %> - <%= slot.end_at.strftime("%H:%M") %></p> <!-- affiche start_at sous le format 14:06 --><!-- affiche le end_at sous le format 14:06 -->
    <!-- SLOT INSCRIPTIONS -->
    <!-- CASE: no registration yet -->
    <i class="fa fa-users"></i> <%= slot.users.count %> &nbsp
    <% unless slot.users.count==0 %>
    <!-- CASE: some people do registered -->
    <!-- Button trigger modal SLOT REGISTERED PEOPLE-->
    <i class="fa fa-external-link" data-toggle="modal" data-target="#SlotParticipantsModal">  </i>

      <!-- Modal REGISTERED PEOPLE LIST-->
      <div class="modal fade" id="SlotParticipantsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">LISTE DES INSCRITS</h4>
            </div>
            <div class="modal-body">

              <div class="row">
                <% slot.users.each do |user|%>

                  <div class="user-card col-xs-4 col-sm-3 text-center">
                      <div>
                        <%= render 'shared/user-photo', user: user,  id: "user-card-photo", class: "avatar" %>
                      </div>

                      <div>
                        <%= user.first_name || user.mail_root %>
                      </div>
                  </div>

                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF REGISTERED PEOPLE LIST MODAL-->

    <% end %>


    <!-- SLOT LEFT AVAILABILITIES -->
    <p><strong>Places restantes: <%= course.capacity_max - slot.users.count %></strong></p>

    <!-- MODIFY & DESTROY -->
    <div>
      <% if policy(slot).edit? %>
        <%= link_to edit_course_slot_path(course, slot) do %>
          <i class="fa fa-pencil slot-icons"></i>
        <% end %>
      <% end %>
      <% if policy(slot).destroy? %>
        <%= link_to slot_path(slot),
             method: "delete",
             data: { confirm: "Êtes-vous sûr de vouloir supprimer cette séance?" } do %>
             <i class="fa fa-trash-o slot-icons"></i>
        <% end %>
      <% end %>
    </div>
  </div>


  <!-- PRICE & SUBSCRIBE ACTION / CANCEL ACTION OR FULL INFO -->
  <div class="col-xs-12 col-sm-4 pd-top-xs-slot-price pd-top-sm-slot-price pd-top-md-slot-price pd-top-lg-slot-price">
    <div class="price-slot text-center">
      <p><%= humanized_money_with_symbol slot.price %></p> <!-- helper qui affiche le prix avec € -->
    </div>
    <div class="text-center">
        <% if policy(slot).desinscription_from_course_page? %>
          <%= form_tag orders_path do %>
            <%= hidden_field_tag 'slot_id', slot.id %>
            <%= button_tag type: "submit", class: "registered-btn", disabled: true do %>
              <i class="fa fa-check-circle-o"></i> Inscrit
            <% end %>
          <% end %>
          <%= link_to "Me désinscrire", desinscription_from_course_page_slot_path(slot),
              method: 'patch',
              class:"desincription-link",
              remote: true,
              data: { confirm: "Vous pouvez annuler votre inscription à une séance, sans aucun frais, jusqu'à 24h avant le début du cours. En deça de cette limite, le cours est du. Êtes-vous sûr de vouloir vous désinscrire?" }
          %>
      <% elsif slot.full? %>
        <%= form_tag orders_path do %>
          <%= hidden_field_tag 'slot_id', slot.id %>
          <%= submit_tag 'Complet', class: "buy-btn", disabled: true %>
        <% end %>
      <% else %>
        <% if current_user.account.present? %>
          <%= form_tag orders_path do %>
            <%= hidden_field_tag 'slot_id', slot.id %>
            <%= submit_tag "M'inscrire", class: "buy-btn" %>
          <% end %>
        <% else %>
            <%= link_to "M'inscrire", new_user_account_path(@current_user.id),
                   data: { confirm: "Vous devez pour votre première commande renseigner au préalable vos données de facturation" },
                   class: "buy-btn" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
