<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Mon cours</h1>
      <p>Nom du cours: <%= @course.name %></p>
      <p>Sport: <%= @course.sport %></p>
      <p>Adresse: <%= @course.address %></p>
      <p>Point de rendez-vous: <%= @course.meting_point %></p>
      <p>Nombre maximum de participant: <%= @course.capacity_max %></p>
      <p>Détails: <%= @course.details %></p>
      <% if @course.coach&.photo? %> <!-- le & à la fin de coach teste si coach exist. Cela évite d'appeler la méthode photo sur le coach si ce dernier n'existe pas -->
        <%= cl_image_tag @course.coach_photo.path, gravity: :face,
                                                   width: 50,
                                                   crop: :fill,
                                                   radius: :max
        %> <!-- on peut appeler coach_photo sur @course car on a délégué dans le model Coach, la méthode photo à Course avec prefix: true -->
        <% else %>
        <% image_tag "https://maxcdn.icons8.com/Share/icon/Users//user_male_circle_filled1600.png" %>
      <% end %>
      <% if @course.coach.exist?  %>
        <p>Coach: <%= @course.coach.first_name %></p> <!-- on peut appeler first_name sur #coach même si ce dernier n'a pas d'attribut first_name car on a délégué dans le model User, le first_name de User à Coach avec prefix: false -->
      <% end %>
      <p>Contenu du cours: <%= @course.content %></p>
      <p>Statut du cours: <% @course.status %></p>
      <br>
      <% if policy(@course).edit? %>
        <%= link_to "Editer le cours", edit_course_path(@course) %>
      <% end %>
      <% if policy(@course).destroy? %>
        <%= link_to "Supprimer le cours", course_path(@course), method: "delete" %>
      <% end %>
      <br>
      <h2>Les séances</h2>
      <% if policy(Slot).new? %>
        <%= link_to "Ajouter une séance", new_slot_path %>
      <% end %>
      <% @course.slots.each do |slot| %>
        <p><%= slot.date %></p>
        <p><%= slot.start_at.strftime("%A %d %B %Y at %H:%M") %></p> <!-- affiche le sous le format 14:06 -->
        <p><%= slot.end_at.strftime("%A %d %B %Y at %H:%M") %></p> <!-- affiche le sous le format 14:06 -->
        <p><%= slot.participants_min %></p>
        <p><%= humanized_money_with_symbol slot.price %></p> <!-- helper qui affiche le prix avec € -->
        <% if policy(slot).edit? %>
          <%= link_to "Editer séance", edit_slot_path(slot) %>
        <% end %>
      <% end %>
    </div>
  </div>
<div>
