<div class="course-show-header">
  <div class="banner-show padded-sm" style="background-image: linear-gradient(-225deg, rgba(181, 98, 87, 0.65) 0%, rgba(51, 71, 98, 0.22) 50%), url(<%= image_path("header-course-show.png") %> );">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class=" text-center">
          <h1 class="white-shadow-text no-margin"><%= @course.name %></h1>
        </div>
      </div>
      <div class="col-xs-2 col-xs-offset-1 col-sm-3 col-sm-offset-0 pencil">
        <div class="margin-slot-buttons no-left-pd">
          <% if policy(@course).publish? && @course.publishable? %>
            <%= link_to course_publish_path(@course),
                method: "patch",
                data: { confirm: "Prêt à publier le cours? Cette action déclenchera l'envoi d'un email automatique à l'ensemble des membres du groupe qui pourront alors réserver, s'ils le souhaitent, une séance." } do %>
              <i class="fa fa-power-off edit-delete-icons-color"></i>
            <% end %>
          <% elsif policy(@course).publish? && @course.draft? && !@course.publishable? %>
            <i class="fa fa-power-off edit-delete-icons-color"></i>
          <% elsif policy(@course).publish? && @course.active? %>
            <%= link_to course_depublish_path(@course),
                method: "patch",
                data: { confirm: "Prêt à désactiver ce cours? Il ne sera alors plus visible aux membres du groupe" } do %>
              <i class="fa fa-pause edit-delete-icons-color"></i>
            <% end %>
          <% elsif @course.active? && !@course.depublishable?%>
            <i class="fa fa-pause edit-delete-icons-color"></i>
          <% end %>
          &nbsp; <!-- espace -->
          <% if policy(@course).edit? %>
            <%= link_to edit_group_course_path(@group, @course) do %>
              <i class="fa fa-pencil edit-delete-icons-color"></i>
            <% end %>
          <% end %>
          &nbsp; <!-- espace -->
            <% if policy(@course).destroy? %>
              <%= link_to course_path(@course),
                   method: "delete",
                   data: { confirm: "Êtes-vous sûr de vouloir supprimer ce cours?" } do %>
                   <i class="fa fa-trash-o edit-delete-icons-color"></i>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="padding-rgt-lft-25">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">
            <div class="mg-btm-20 text-center-xs text-center-sm margin-top-20">
              <% if @course.coach&.user&.photo? %>
                <%= cl_image_tag @course.coach.user.photo.path, gravity: :face,
                                                           width: 50,
                                                           crop: :fill,
                                                           radius: :max,
                                                           id:"coach-avatar-course" %>
              <% else %>
                <%= image_tag "https://maxcdn.icons8.com/Share/icon/Users//user_male_circle_filled1600.png", id:"coach-pic"%>
              <% end %>
              <% if @course.coach&.first_name.present?  %>
                <p>Coach: <%= @course.coach.first_name %></p>

                <!-- Button trigger modal -->
                <button  class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#myModal">
                  <i class="fa fa-id-card-o" aria-hidden="true"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><%= @course.coach.name %></h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-4">

                            <!-- Picture -->
                            <div class="text-center padded-sm">
                              <% if @course.coach&.user&.photo? %>
                                <%= cl_image_tag @course.coach.user.photo.path, gravity: :face,
                                                             width: 200,
                                                             crop: :fill,
                                                             radius: :max,
                                                             class: "avatar-profile" %>
                              <% else %>
                                <%= image_tag "https://maxcdn.icons8.com/Share/icon/Users//user_male_circle_filled1600.png", id:"coach-pic"%>
                              <% end %>
                            </div>


                            <!-- Mail -->
                            <div class="list-inline text-justify">
                              <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
                              <li><%= @course.coach.user.email %></li>
                            </div>

                            <!-- Tel -->
                            <div class="list-inline text-justify">
                              <li><i class="fa fa-phone" aria-hidden="true"></i></li>
                              <li><%= @course.coach.user.phone_number %></li>
                            </div>

                          </div>
                          <div class="col-md-8">

                            <div class="mg-btm-1em">
                              <h5>DESCRIPTION</h5>
                              <p><%= @course.coach.description%></p>
                              </div>
                            <div class="mg-btm-1em">
                              <h5>EXPÉRIENCE</h5>
                              <p><%= @course.coach.experience%> années</p>
                            </div>
                            <div class="mg-btm-1em">
                              <h5>SPORTS ENSEIGNÉS</h5>
                              <p><%= @course.coach.sports.map {|s| s.name.capitalize}.join(", ") %></p>
                              </div>
                            <div class="mg-btm-1em">
                              <h5>LANGUES PARLÉES</h5>
                              <p><%= @course.coach.languages.map {|language| language}.join(", ") %></p>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              <% else %>
                <p class="text-center-xs text-center-sm">Coach</p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
            <div class="text-center-xs text-center-sm">
              <p><strong>Adresse:</strong> <%= @course.address %></p>
              <p><strong>Point de rendez-vous:</strong> <%= @course.meeting_point %></p>
              <% if policy(@course).edit? %>
                <p id="status"><strong>Statut du cours:</strong> <%= @course.status.capitalize %></p>
                <% if @course.draft? && @course.publishable? %> </p>
                  <p class="text-justify">
                    ATTENTION, ce cours n'est pas encore mis en ligne. Pour que l'ensemble des membres du groupe <%= @course.group.name %> puissent y avoir accès et réserver leur première séance. il est nécessaire au prélable de le publier.
                  </p>
                <% elsif @course.draft? %>
                  <p class="text-justify">
                    ATTENTION, ce cours n'a pas été encore mis en ligne. Pour pouvoir le publier, l'ensemble des champs obligatoires doivent être renseignés et une première séance doit être programmée.
                  </p>
                <% elsif @course.active? && @course.depublishable? %>
                  <p class="text-justify">
                    Ce cours est en ligne. Il est visible à l'ensemble des membres du groupe <%= @course.group.name %>.
                  </p>
                <% else %>
                  <p class="text-justify">
                    Ce cours est en ligne. Il est visible à l'ensemble des membres du groupe <%= @course.group.name %>. Pour le désactiver, il est nécessaire de s'assurer au préalable qu'il n'y ait aucune séance associée.
                  </p>
                <% end %>
              <% end %>
              <p class="info-link" id="more-info">Plus d'infos...</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
            <div class="hidden text-center-xs" id="more-course-info">
              <!-- precisions sur les implications liées au statut -->
              <p class="text-justify text-center-xs"><strong>Contenu du cours:</strong> <%= @course.content %></p>
              <p class="text-justify text-center-xs"><strong>Détails:</strong> <%= @course.details %></p>
              <p><strong>Nombre maximum de participants:</strong> <%= @course.capacity_max %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="text-center margin">
        <% if @course.address.present? %>
        <img src = "https://maps.googleapis.com/maps/api/staticmap?key=<%= ENV['API_KEY_GOOLE_MAP']%>&zoom=15&size=250x250&sensor=false&maptype=roadmap&markers=color:red|<%= @course.address %>" alt ="map">
      <% end %>
      </div>
    </div>
  </div>
  <div class="row wrapper-slots-display">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
      <div class="pdg-lg-slots pdg-md-slots pdg-sm-slots pdg-xs-slots">
        <div class="row">
          <div class="col-xs-12 mg-btm-10 mg-top-50">
            <div class="text-center">
              <% if policy(@course).edit? %>
                <a class="btn-book" id="new_form_button">Ajouter une séance</a>
              <% end %>
            </div>
          </div>
          <div class="col-xs-6 col-xs-offset-3" >
            <div class=" hidden wrapper-new-slot" id="new_slot_form">
                <%= render 'slots/form', course: @course, slot: @slot %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div id="slots_display">
              <%= render 'slots_display', course: @course %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :meta_title, "#{@course.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @course.content %>
