<div class="container">
  <div class="course-show-header">
    <div class="banner-show" style="background-image: linear-gradient(-225deg, rgba(181, 98, 87, 0.65) 0%, rgba(51, 71, 98, 0.22) 50%), url(<%= image_path("header-course-show.png") %> );">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <div class=" text-center  ">
            <h1 class="titles-home"><%= @course.name %></h1>
          </div>
        </div>
        <div class="col-xs-3 pencil">
          <div class="margin-slot-buttons">
              <% if policy(@course).edit? %>
                <%= link_to edit_group_course_path(@group, @course) do %>
                  <i class="fa fa-pencil edit-delete-icons-color"></i>
                <% end %>
              <% end %>
            &nbsp; <!-- espace -->
              <% if policy(@course).destroy? %>
                <%= link_to course_path(@course),
                     method: "delete",
                     data: { confirm: "Êtes-vous sûr de vouloir supprimer ce cours?" } do %>
                     <i class="fa fa-trash-o edit-delete-icons-color"></i>
                <% end %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="padding-rgt-lft-25">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">
            <div class="mg-btm-20 coach-pic text-center-xs margin-top-20">
              <% if @course.coach&.photo? %>
                <%= cl_image_tag @course.coach_photo.path, gravity: :face,
                                                           width: 50,
                                                           crop: :fill,
                                                           radius: :max %>
              <% else %>
                <%= image_tag "https://maxcdn.icons8.com/Share/icon/Users//user_male_circle_filled1600.png" %>
              <% end %>
              <% if @course.coach&.first_name.present?  %>
                <p>Coach: <%= @course.coach.first_name %></p>
              <% else %>
                <p class="text-center-xs">Coach</p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">
            <div class="text-center-xs">
              <p><strong>Adresse:</strong> <%= @course.address %></p>
              <p><strong>Point de rendez-vous:</strong> <%= @course.meeting_point %></p>
              <% if policy(@course).edit? %>
                <p id="status"><strong>Statut du cours:</strong> <%= @course.status.capitalize %></p>
                <% if @course.draft? && @course.publishable? %> </p>
                  <p class="text-justify">
                    ATTENTION, ce cours n'est pas encore mis en ligne. Pour que l'ensemble des membres du groupe <%= @course.group.name %> puissent y avoir accès et réserver leur première séance. il est nécessaire au prélable de le publier.
                  </p>
                <% elsif @course.draft? %>
                  <p class="text-justify">
                    ATTENTION, ce cours n'a pas été encore mis en ligne. Pour pouvoir le publier, l'ensemble des champs obligatoires doivent être renseignés et une première séance doit être programmée.
                  </p>
                <% elsif @course.active? && @course.depublishable? %>
                  <p class="text-justify">
                    Ce cours est en ligne. Il est visible à l'ensemble des membres du groupe <%= @course.group.name %>.
                  </p>
                <% else %>
                  <p class="text-justify">
                    Ce cours est en ligne. Il est visible à l'ensemble des membres du groupe <%= @course.group.name %>. Pour le désactiver, il est nécessaire de s'assurer au préalable qu'il n'y ait aucune séance associée.
                  </p>
                <% end %>
              <% end %>
              <% if policy(@course).publish? && @course.publishable? %>
                <%= link_to "Publier le cours", course_publish_path(@course),
                    class: "btn btn-courses btn-sm",
                    method: "patch",
                    data: { confirm: "Prêt à publier le cours? Cette action déclenchera l'envoi d'un email automatique à l'ensemble des membres du groupe qui pourront alors réserver, s'ils le souhaient, une séance." } %>
              <% elsif policy(@course).publish? && @course.draft? && !@course.publishable? %>
                <a href="#" class = "btn btn-courses btn-sm disabled" >Publier le cours</a>
              <% elsif policy(@course).publish? && @course.active? %>
                  <%= link_to "Désactiver le cours", course_depublish_path(@course),
                      class: "btn btn-courses btn-sm",
                      method: "patch",
                      data: { confirm: "Prêt à désactiver ce cours? Il ne sera alors plus visible aux membres du groupe" } %>
              <% elsif @course.active? && !@course.depublishable?%>
                <a href="#" class = "btn btn-courses btn-sm disabled" >Désactiver le cours</a>
              <% end %>
              <p class="info-link" id="more-info">Plus d'infos...</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">
            <div class="hidden text-center-xs" id="more-course-info">
              <!-- precisions sur les implications liées au statut -->
              <p class="text-justify text-center-xs"><strong>Contenu du cours:</strong> <%= @course.content %></p>
              <p class="text-justify text-center-xs"><strong>Détails:</strong> <%= @course.details %></p>
              <p><strong>Nombre maximum de participants:</strong> <%= @course.capacity_max %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row wrapper-slots-display">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
      <div class="pdg-lg-slots pdg-md-slots pdg-sm-slots pdg-xs-slots">
        <div class="row">
          <div class="col-xs-12 mg-btm-10 mg-top-50">
            <div class="text-center">
              <% if policy(@course).edit? %>
                <a class="btn-book" id="new_form_button">Ajouter une séance</a>
              <% end %>
            </div>
          </div>
          <div class="col-xs-6 col-xs-offset-3" >
            <div class=" hidden wrapper-new-slot" id="new_slot_form">
                <%= render 'slots/form', course: @course, slot: @slot %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="text-center mg-btm-top-h2">
              <h2 id="title-slot-display">Réserver une séance</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div id="slots_display">
                <%= render 'slots_display', course: @course %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :meta_title, "#{@course.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @course.content %>
