<!-- HEADER -->
<div class="course-show-header">
  <div class="banner-show padded-sm" style="background-image: linear-gradient(-225deg, rgba(181, 98, 87, 0.65) 0%, rgba(51, 71, 98, 0.22) 50%), url(<%= image_path("header-course-show.png") %> );">

    <div class="row">
      <!-- COURSE NAME -->
      <div class="col-xs-6 col-xs-offset-3">
        <div class=" text-center">
          <h1 class="white-shadow-text no-margin"><%= @course.name.upcase %></h1>
        </div>
      </div>
      <div class="col-xs-2 col-xs-offset-1 col-sm-3 col-sm-offset-0 pencil">
        <!-- ACTION ICONS ON TOP RIGHT -->
        <div class="margin-slot-buttons no-left-pd">
          <!-- PUBLISH / DEPUBLISH  -->
          <%if policy(@course).publish? %>

            <% if @course.draft? && @course.publishable? %>
              <%= link_to course_publish_path(@course),
                  method: "patch",
                  data: { confirm: "Prêt à publier le cours? Cette action déclenchera l'envoi d'un email automatique à l'ensemble des membres du groupe qui pourront alors réserver, s'ils le souhaitent, une séance." } do %>
                <i class="fa fa-power-off edit-delete-icons-color"></i>
              <% end %>

            <% elsif @course.draft? %>
              <a href="" id= "uncomplete-course-desc" >
                <i class="fa fa-power-off edit-delete-icons-color"></i>
              </a>

              <div class="alert alert-warning alert-dismissible hidden" role="alert" id= "uncomplete-course-message">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Encore un effort!</strong> Vous devez renseigner l'ensemble des champs obligatoires et proposer une première séance pour pouvoir publier cette activité.
              </div>


            <% elsif @course.active? && @course.depublishable?%>
              <%= link_to course_depublish_path(@course),
                  method: "patch",
                  data: { confirm: "Prêt à désactiver ce cours? Il ne sera alors plus visible aux membres du groupe" } do %>
                <i class="fa fa-pause edit-delete-icons-color"></i>
              <% end %>

            <% elsif @course.active? %>
              <a href="" id= "course-with-slots" >
                <i class="fa fa-pause edit-delete-icons-color"></i>
              </a>

              <div class="alert alert-warning alert-dismissible hidden" role="alert" id= "course-with-slots-message">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Avant de désactiver un cours, vous devez d'abord <strong>supprimer toutes les séances programmées</strong> .
              </div>

            <% end %>
          <% end %>
        <!-- EDIT -->
          &nbsp; <!-- espace -->
          <% if policy(@course).edit? %>
            <%= link_to edit_group_course_path(@group, @course) do %>
              <i class="fa fa-pencil edit-delete-icons-color"></i>
            <% end %>
          <% end %>

        <!-- DESTROY -->
          &nbsp; <!-- espace -->
            <% if policy(@course).destroy? && @course.draft?%>
              <%= link_to course_path(@course),
                   method: "delete",
                   data: { confirm: "Êtes-vous sûr de vouloir supprimer ce cours?" } do %>
                   <i class="fa fa-trash-o edit-delete-icons-color"></i>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- STATUS INFO FOR GROUP OWNER & COACH ONLY -->
<% if policy(@course).edit? %>
  <% if @course.draft? && @course.publishable? %> </p>
    <div class="course-status draft-status text-center">
      <p>ATTENTION, ce cours n'est pas en ligne. Pour que l'ensemble des membres du groupe "<%= @course.group.name %>" puissent y avoir accès et réserver leur première séance,
      il est nécessaire au prélable de le publier. </p>
    </div>
  <% elsif @course.draft? %>
    <div class="course-status draft-status text-center">
      <p>ATTENTION, ce cours n'est pas en ligne. Pour pouvoir le publier, l'ensemble des champs obligatoires doivent être renseignés et une première séance doit être programmée.
      </p>
    </div>
  <% elsif @course.active? && @course.depublishable? %>
    <div class="course-status published-status text-center">
      <p>Ce cours est en ligne. Il est visible de l'ensemble des membres du groupe "<%= @course.group.name %>".
      </p>
    </div>
  <% else %>
    <div class="course-status published-status text-center">
      <p>Ce cours est en ligne. Il est visible de l'ensemble des membres du groupe "<%= @course.group.name %>".
        Pour le désactiver, il est nécessaire de s'assurer au préalable qu'il n'y ait aucune séance associée.
      </p>
    </div>
  <% end %>
<% end %>
<!-- END OF STATUS INFO FOR GROUP OWNER & COACH ONLY -->

<!-- COURSE DESCRIPTION -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="padding-rgt-lft-25">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">

            <div class="mg-btm-20 text-center-xs text-center-sm margin-top-20" id="course-coach">
              <!-- Coach name or not -->
              <% if @course.coach&.first_name.present?  %>
                <div data-toggle="modal" data-target="#CoachModal" >
                  <!--  Coach photo ou not  -->
                  <% if @course.coach&.user&.photo? %>
                    <%= cl_image_tag @course.coach.user.photo.path, gravity: :face,
                                                               width: 50,
                                                               crop: :fill,
                                                               radius: :max,
                                                               id:"coach-avatar-course" %>
                  <% else %>
                    <%= image_tag "https://maxcdn.icons8.com/Share/icon/Users//user_male_circle_filled1600.png", id:"coach-pic", width: 50%>
                  <% end %>

                  <p><%= @course.coach.first_name.capitalize %> &nbsp
                  <!-- Button trigger modal PRESENTATION DU COACH-->
                  <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> </p>
                </div>
                <%= render 'coach_modal' %>

              <% else %>
                <p class="text-center-xs text-center-sm">À trouver!</p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
            <div class="text-center-xs text-center-sm">
              <p><strong>Adresse:</strong> <%= @course.address %></p>
              <p><strong>Point de rendez-vous:</strong> <%= @course.meeting_point %></p>
              <p class="text-justify text-center-xs"><strong>Contenu du cours:</strong> <%= @course.content %></p>
              <p class="text-justify text-center-xs"><strong>Détails:</strong> <%= @course.details %></p>
              <p class="info-link" id="more-info">Plus d'infos...</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
            <div class="hidden text-center-xs" id="more-course-info">
              <p><strong>Nombre maximum de participants:</strong> <%= @course.capacity_max %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="text-center margin">
        <% if @course.address.present? %>
        <img src = "https://maps.googleapis.com/maps/api/staticmap?key=<%= ENV['API_KEY_GOOLE_MAP']%>&zoom=15&size=250x250&sensor=false&maptype=roadmap&markers=color:red|<%= @course.address %>" alt ="map">
      <% end %>
      </div>
    </div>
  </div>
  <div class="row wrapper-slots-display">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
      <div class="pdg-lg-slots pdg-md-slots pdg-sm-slots pdg-xs-slots">
        <div class="row">
          <div class="col-xs-12 mg-btm-10 mg-top-50">
            <div class="text-center">
              <% if policy(@course).edit? %>
                <a class="btn-book" id="new_form_button">Ajouter une séance</a>
              <% end %>
            </div>
          </div>
          <div class="col-xs-6 col-xs-offset-3" >
            <div class=" hidden wrapper-new-slot" id="new_slot_form">
                <%= render 'slots/form', course: @course, slot: @slot %>
            </div>
          </div>
        </div>
        <!-- PRESENTATION DES DIFFERENTS SLOTS-->
        <div class="row">
          <div class="col-xs-12">
            <div id="slots_display">
              <%= render 'slots_display', course: @course %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :meta_title, "#{@course.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @course.content %>
